.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner .one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid red;
}

.inner .two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid red;
}

.inner .three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid red;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.hideHover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.showHover {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slick-dots {
  bottom: 12%;
  color: white;
}

.slick-dots li {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.slick-dots li button {
  font-size: 20px;
}

.slick-next {
  width: 100px !important;
  right: 40px !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 60px !important;
  color: #ff671f !important;
}

.slick-prev {
  width: 100px !important;
  left: 40px;
  z-index: 1000 !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #fb4226;
}

.header .header__content .navbar {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .header__content .navbar .webLogo {
  width: 50px;
}

.header .header__content .navbar .navbar-collapse {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .header__content .navbar .navbar-collapse .nav-item .nav-link {
  color: #29303b;
  font-size: 16px;
  font-weight: normal;
}

.header .header__content .navbar .navbar-collapse .nav-item a:hover {
  color: #fb4226;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .header__content .navbar .right {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header__content .navbar .right .rightSecond {
  padding: 5px 10px 5px 10px;
  border: 1px solid #ff661f;
  display: inline-block;
  margin-right: 20px;
}

.header .header__content .navbar .right .rightSecond .titleDisplay:hover {
  text-decoration: none;
}

.header .header__content .navbar .right .rightSecond .titleDisplay .titleRegister {
  color: black;
}

.header .header__content .navbar .right .rightSecond .titleDisplay .titleLogOut {
  color: black;
}

.header .header__content .navbar .right .rightFirst {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border: 1px solid #ed1c24;
  display: inline-block;
}

.header .header__content .navbar .right .rightFirst .imgAccount {
  width: 18px;
  height: auto;
  border-radius: 50%;
  margin-right: 5px;
}

.header .header__content .navbar .right .rightFirst .titleDisplay:hover {
  text-decoration: none;
}

.header .header__content .navbar .right .rightFirst .titleDisplay .titleLogin {
  color: black;
}

.btnTrailer {
  display: block;
  position: absolute;
  visibility: hidden !important;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 100px;
  border: none;
  background: none;
}

.btnTrailer:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btnTrailer:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.carouselBg {
  position: relative;
  top: -10px;
}

.carouselBg:hover .btnTrailer {
  visibility: visible !important;
  opacity: .7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.searchBar {
  position: relative;
}

.searchBar .navbar {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 2;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.searchBar .navbar .collapse .navbar-nav {
  width: 100%;
}

.searchBar .navbar .collapse .navbar-nav .nav-item {
  font-size: 14px;
  text-overflow: ellipsis;
}

.searchBar .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 13px !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
}

.searchBar .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
  max-height: 220px;
  overflow-y: scroll;
}

.searchBar .navbar .collapse .navbar-nav .nav-item .dropdown-menu::-webkit-scrollbar {
  width: 5px;
  background-color: #dedfe0;
}

.searchBar .navbar .collapse .navbar-nav .nav-item .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #a1a7b3;
  border-radius: 50px;
}

.searchBar .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 10px !important;
  height: 30px;
  line-height: 15px;
}

.searchBar .navbar .collapse .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: rgba(238, 238, 238, 0.88);
}

.searchBar .navbar .collapse .navbar-nav .btnBuyTicket {
  background-color: #4a4a4a;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 25px;
}

.dropdown-toggle::after {
  display: none;
}

.filmList .filmList__content {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.filmList .filmList__content .filmList__tittle .nav-tabs {
  border-bottom: none;
}

.filmList .filmList__content .filmList__tittle .nav-tabs .nav-item .nav-link {
  text-align: center;
  border: none;
  margin-bottom: 25px;
  margin: 0 auto;
  color: #29303b;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.filmList .filmList__content .filmList__tittle .nav-tabs .nav-item #dangChieu-tab {
  color: #fa5238;
  font-size: 24px;
  font-weight: normal;
}

.filmList .filmList__content .filmList__tittle .nav-tabs .nav-item:hover #sapChieu-tab {
  color: #29303b;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList {
  padding: 20px 10px 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail {
  border: none;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  padding-top: 147.90697674%;
  background-position: center, 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat, repeat-y;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__hoverInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  border-radius: 4px;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__hoverInfo .filmList_playTrailer {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__point {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__point .txtFilmPoint {
  text-align: center;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  margin: 0 !important;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__point .txtFilmStar {
  margin: 0 !important;
  padding: 0 !important;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList_Link .filmList__thumbnail .filmList__point .txtFilmStar img {
  display: inline-block;
  max-width: 8px;
  margin: 0 !important;
  text-align: center;
  padding: 0 !important;
  border: 0;
  vertical-align: middle;
  border-radius: 4px;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList__info {
  position: relative;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList__info .filmList__name {
  height: 42px;
  max-height: 42px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList__info .filmList__name .txtFilmListClass {
  font-weight: 700;
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList__info .filmList__time {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag .filmList__info .filmList__hoverBuy .filmList__hoverBuy-BTN {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px !important;
  padding: 10px;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#fb4226), to(#ce3017));
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  border: none;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag:hover .filmList__hoverInfo {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag:hover .filmList__hoverBuy {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag:hover .filmList__name {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filmList .filmList__content .filmList__detail .filmList__items .filmList_ItemsList .filmList__tag:hover .filmList__time {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.list-group {
  border-radius: 0px !important;
}

.showTime {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 70%;
  margin: 0 auto;
}

.showTime .showTime__content .showTime__detail .left-content {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.showTime .showTime__content .showTime__detail .left-content .list-group {
  border: 1px solid #dedfe0;
  border-right: 0px !important;
  height: 100%;
  width: 60%;
  margin: 0 !important;
}

.showTime .showTime__content .showTime__detail .left-content .list-group .list-group-item {
  padding: 20px;
  width: 90px;
  border: none;
  margin: 0 auto;
}

.showTime .showTime__content .showTime__detail .left-content .list-group .list-group-item img {
  width: 50px;
  height: 50px;
}

.showTime .showTime__content .showTime__detail .left-content .list-group .list-group-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 2px solid #ff671f !important;
  -webkit-box-shadow: 0 0px 25px #fc9a38;
          box-shadow: 0 0px 25px #fc9a38;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 {
  border: 1px solid #dedfe0;
  min-height: 630px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 {
  padding-right: 0 !important;
  border-right: 1px solid #dedfe0 !important;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 #list-tab #list-home-list {
  border: none !important;
  cursor: pointer;
  margin-bottom: 10px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 #list-tab #list-home-list img {
  width: 50px;
  height: 50px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 #list-tab #list-home-list .movieCinema {
  color: black;
  margin-left: 15px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 #list-tab #list-home-list .movieCinema span {
  display: block;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #949494;
  white-space: normal;
  line-height: 1.4;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__detail-2 .showTime__items-left-2 #list-tab #list-home-list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 2px solid #ff671f !important;
  -webkit-box-shadow: 0 0px 25px #fc9a38;
          box-shadow: 0 0px 25px #fc9a38;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 {
  border: none;
  padding-right: 0 !important;
  max-height: 630px;
  overflow-y: scroll;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2::-webkit-scrollbar {
  width: 5px;
  background-color: #dedfe0;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2::-webkit-scrollbar-thumb {
  background-color: #a1a7b3;
  border-radius: 50px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie {
  float: left;
  clear: both;
  padding-bottom: 17px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  border: none;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 2px solid #ff671f !important;
  -webkit-box-shadow: 0 0px 25px #fc9a38;
          box-shadow: 0 0px 25px #fc9a38;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top img {
  width: 50px;
  float: left;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top .showTime__movie-pane-top-info {
  width: 100%;
  padding-left: 65px;
  padding-top: 6px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top .showTime__movie-pane-top-info .showTime__movie-pane-top-info-name {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top .showTime__movie-pane-top-info .showTime__movie-pane-top-info-name .showTime__movie-pane-top-info-brand {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  min-width: 33px;
  text-align: center;
  font-weight: 700;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top .showTime__movie-pane-top-info .showTime__movie-pane-top-info-name .showTime__movie-pane-top-info-title {
  font-size: 14px;
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-top .showTime__movie-pane-top-info .showTime__movie-pane-top-info-name-detail {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-bottom {
  float: left;
  clear: both;
  width: 100%;
  -webkit-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-bottom .showTime__movie-pane-bottom-time {
  float: left;
  width: 100%;
  padding-top: 15px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-bottom .showTime__movie-pane-bottom-time .showTime__movie-pane-bottom-time-list-ver {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-bottom .showTime__movie-pane-bottom-time .showTime__movie-pane-bottom-time-sessions .showTime__movie-pane-bottom-time-sessions-link {
  width: calc(25% - 10px);
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 5px 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
}

.showTime .showTime__content .showTime__detail .middle-content .showTime__items-right-2 .tab-content .tab-pane .showTime__movie .showTime__movie-panel .showTime__movie-pane-bottom .showTime__movie-pane-bottom-time .showTime__movie-pane-bottom-time-sessions .showTime__movie-pane-bottom-time-sessions-link .showTime__movie-pane-bottom-time-list-sessions-link-start-end-time {
  font-size: 18px;
  font-weight: 500;
  color: #108f3e;
}

.new .new__content .new__tittle .nav-tabs {
  border-bottom: none;
}

.new .new__content .new__tittle .nav-tabs .nav-item .nav-link {
  text-align: center;
  border: none;
  margin-bottom: 25px;
  margin: 0 auto;
  color: #29303b;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.new .new__content .new__tittle .nav-tabs .nav-item #DienAnh-tab {
  color: #fa5238;
  font-size: 24px;
  font-weight: normal;
}

.new .new__content .new__tittle .nav-tabs .nav-item:hover #Review-tab {
  color: #29303b;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.new .new__content .new__tittle .nav-tabs .nav-item:hover #KhuyenMai-tab {
  color: #29303b;
  font-size: 24px;
  font-weight: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.new .new__content .tab-content .new__items .col-news {
  width: 50%;
  padding: 0 8px;
  margin-bottom: 20px;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Img {
  width: 100%;
  padding-bottom: 10px;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__filmDetail .new__filmTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-bottom: 5px;
  color: black !important;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__filmDetail:hover {
  color: #fb4226 !important;
  text-decoration: none !important;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__filmDescription {
  font-size: 13px;
  color: #4a4a4a;
  text-align: justify;
  padding: 0 5px 0 0;
  line-height: 19px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social {
  float: left;
  width: 20px;
  height: 25px;
  padding-left: 0;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social .new__Social-Like {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social .new__Social-Like .iconFacebook {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  height: auto;
  width: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social .new__Social-Like .new__AmountLike {
  color: #bbb;
  font-size: 12px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
  margin: 0 0 10px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  cursor: pointer;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social .new__Social-Comment {
  display: inline;
  list-style: none;
  margin-right: 25px;
  cursor: pointer;
}

.new .new__content .tab-content .new__items .col-news .new__thumbnail .new__Social .new__Social-Comment:hover {
  list-style: none;
  text-decoration: none;
}

.new .new__content .tab-content .new__items .col-news .list-unstyled .media .media-Title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 42px;
  font-size: 16px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-bottom: 5px;
  width: calc(100% - 70px);
  opacity: 0.7;
}

.new .new__content-showmore .btnViewMore {
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
}

.new .new__content-showmore .btnViewMore:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

.app .backgroundApp {
  background-image: url("../../assets/images/backapp.jpg");
  background-size: contain;
}

.app .backgroundApp .maxWidth {
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;
}

.app .backgroundApp .maxWidth .left {
  color: white;
  padding-top: 15%;
}

.app .backgroundApp .maxWidth .left .textLeft {
  color: #fff;
  font-weight: 400;
  font-size: xx-large;
}

.app .backgroundApp .maxWidth .left button {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.app .backgroundApp .maxWidth .left .textAppUnder {
  color: #fff;
  padding-top: 10px;
}

.app .backgroundApp .maxWidth .left .textAppUnder a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.app .backgroundApp .maxWidth .right .phone_mockup {
  padding: 1.5% 29.3% 15% 29.3%;
  display: block;
  max-width: 100%;
  padding-top: 15%;
}

.app .backgroundApp .maxWidth .right .phone {
  position: absolute;
  top: 14%;
  right: 31.3%;
  width: 37%;
}

.app .backgroundApp .maxWidth .right .phone .slick-slide img {
  border-radius: 20px;
}

.app .slick-slider div {
  border-radius: 20px;
}

.app .slick-slider div:focus {
  outline: 0;
}

@media only screen and (max-width: 990px) {
  .app p {
    text-align: center;
    margin: auto;
  }
  .app .phone {
    position: absolute !important;
    top: 14% !important;
    left: 31% !important;
    width: 100% !important;
  }
  .app .phone img {
    width: 38%;
    border-radius: 40px;
  }
  .app .buttonCointainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

footer .maxWidth {
  max-width: 1070px;
  float: none;
  margin: auto;
  clear: both;
}

footer .maxWidth .topContain .tix p {
  color: #fff;
  font-size: 80%;
}

footer .maxWidth .topContain .tix a {
  font-size: 13px !important;
  font-size: 80%;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  line-height: 0.3;
  text-decoration: none;
}

footer .maxWidth .topContain .doiTac p {
  color: #fff;
  font-size: 80%;
}

footer .maxWidth .topContain .doiTac .row {
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}

footer .maxWidth .topContain .doiTac .row .icon {
  background-color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 17px;
}

footer .maxWidth .topContain .mediaApp .mobileApp {
  text-align: center;
}

footer .maxWidth .topContain .mediaApp .mobileApp p {
  color: #fff;
  font-size: 80%;
}

footer .maxWidth .topContain .mediaApp .mobileApp img {
  background: 0 0;
  height: 35px;
  width: auto;
  margin: 5px;
}

footer .maxWidth .topContain .mediaApp .social {
  text-align: center;
}

footer .maxWidth .topContain .mediaApp .social p {
  color: #fff;
  font-size: 80%;
}

footer .maxWidth .topContain .mediaApp .social img {
  background: 0 0;
  height: 35px;
  width: auto;
  margin: 5px;
}

footer .maxWidth hr {
  border-top: 1px solid #4a4a4a;
}

footer .maxWidth .bottomContain .zion {
  margin-bottom: 20px;
}

footer .maxWidth .bottomContain .zion img {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

footer .maxWidth .bottomContain .col-sm-9 {
  margin-left: 20px;
}

footer .maxWidth .bottomContain .col-sm-9 span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

footer .maxWidth .bottomContain .col-sm-9 .tix_info {
  color: white;
}

footer .maxWidth .bottomContain .bct {
  margin-bottom: 20px;
}

footer .maxWidth .bottomContain .bct img {
  width: 130px;
  float: right;
}

@media only screen and (max-width: 1000px) {
  footer .hideOnMobile {
    display: none;
  }
  footer .col-sm-9 {
    margin: 20px;
  }
  footer .col-sm-9 span {
    text-align: center;
  }
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
  cursor: pointer;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

@-webkit-keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes modal-video-inner {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes modal-video-inner {
  from {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: modal-video;
          animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: modal-video-inner;
          animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.modal-video-close-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-video-close-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-video-close-btn:before, .modal-video-close-btn:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
/*# sourceMappingURL=main.css.map */