
.btnTrailer{
     display: block;
     position: absolute;
    visibility: hidden !important;
    opacity: 0;
    cursor: pointer;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
   border: none;
   background: none;
    &:focus{
     background-color: transparent !important;
     border-color: transparent !important;
     outline: none !important;
     box-shadow: none !important;
    }
    &:hover{
     background-color: transparent !important;
     border-color: transparent !important;
     outline: none !important;
     box-shadow: none !important;
    }
    
}

.carouselBg{
     position: relative;
     top: -10px;
     &:hover .btnTrailer{
          visibility: visible !important;
          opacity: .7;
          transition: all 0.5s;
     }
}

