.searchBar {
     position: relative;
 
     .navbar {
          display: block;
          max-width: 940px;
          margin: auto;
          height: 80px;
          width: 100%;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%,50%);
         z-index: 2;
         border-radius: 5px;
         
         background-color: #fff;
         box-shadow: 0 0 10px rgba(0,0,0,.3);
         .collapse {
             .navbar-nav {
                 .nav-item {
                     
                     padding: 0 40px;
                     @include styleText($color-gray-7 !important, $fs-0, $fw-normal);
                     a {
                         color: $color-black-0;
                     }
                 }
             }
         }
     }
 }
 